@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.academics-heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.academics-card{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 4%;
 
}

.campus-conatainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}

.campus-card{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}